.uc_four_colored_feature_boxes * {

	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.uc_four_colored_feature_boxes .uc_servicesList {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.uc_four_colored_feature_boxes .uc_servicesList li {
	color: #fff;
	position: relative;
	padding: 80px 40px;
	transition: all 0.5s ease-in-out;
	z-index: 2;
}
.uc_four_colored_feature_boxes h3 {
	font-weight: 700;
	margin-bottom: 20px;
	line-height: 1.2;
	margin-top: 24px;
	margin-bottom: 10px;
	font-size: 28px;
}
.uc_four_colored_feature_boxes p {
	margin: 0 0 10px;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
}
.uc_four_colored_feature_boxes .uc_servicesList li .uc_number {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 22px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
}
.uc_four_colored_feature_boxes .uc_servicesList li:hover {
	transform: scale(1.15, 1.15);
	z-index: 100;
}
.uc_four_colored_feature_boxes .uc_row:after {
	clear: both;
}
.uc_four_colored_feature_boxes .uc_box {
	float: left;
}

@media (min-width: 768px) {
.uc_four_colored_feature_boxes .uc_box {
	width: 50%;
}
}
@media (min-width: 992px) {
.uc_four_colored_feature_boxes .uc_box {
	width: 25%;
}
}
